<p id="notice"><%= notice %></p>

<p>
  <strong>Numer myszy:</strong>
  <%= @mouse.number %>
</p>

<p>
  <strong>Data krycia:</strong>
  <%= @mouse.mating_date %>
</p>

<p>
  <strong>DPC:</strong>
  <%= @mouse.dpc %>
</p>

<p>
  <strong>Somity:</strong>
  <%= @mouse.somites %>
</p>

<p>
  <strong>Doświadczenia:</strong>
  <%= @mouse.experiments %>
</p>

<p>
  <strong>Uwagi:</strong>
  <%= @mouse.notes %>
</p>

<%= link_to 'Edytuj', edit_mouse_path(@mouse) %> |
<%= link_to 'Wróć', mice_path %>
