<table class="table table_striped table-bordered">
  <thead>
    <tr>
      <th>Numer myszy</th>
      <th>Data rozpoczęcia hodowli</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cultures.each do |culture| %>
      <tr>
        <td><%= culture.mouse %></td>
        <td><%= culture.starting_date %></td>
        <td><%= link_to 'Szczegóły', culture %></td>
        <td><%= link_to 'Edytuj', edit_culture_path(culture) %></td>
        <td><%= link_to 'Usuń', culture, method: :delete, data: { confirm: 'Na pewno usunąć?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowa hodowla', new_culture_path, class: "btn btn-info btn-sm" %>
