<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <table class="table table-striped table-bordered">
        <tbody>
          <tr>
            <td><strong>Numer myszy:</strong></td>
            <td>
              <% @culture.mice.each do |m| %>
                <%= link_to m.number, mouse_path(m) %>&nbsp;&nbsp;&nbsp;
              <% end %>
            </td>
          </tr>
          <tr>
            <td><strong>Data rozpoczęcia:</strong></td>
            <td><%= @culture.starting_date %></td>
          </tr>
          <tr>
            <td><strong>Data zakończenia:</strong></td>
            <td><%= @culture.termination_date %></td>
          </tr>
          <tr>
            <td><strong>Warunki hodowli:</strong></td>
            <td><%= @culture.culture_details %></td>
          </tr>
            <tr>
            <td><strong>Płytka</strong></td>
              <td>
                <table class="table table-striped table-bordered">
                  <tbody>
                    <tr>
                      <td rowspan="2">NUMER<%= @culture.plate.try(:plate_number) %></td>
                      <td>P1 <%= @culture.plate.try(:p1) %></td>
                      <td>P2 <%= @culture.plate.try(:p2) %></td>
                      <td>P3 <%= @culture.plate.try(:p3) %></td>
                      <td>P4 <%= @culture.plate.try(:p4) %></td>
                    </tr>
                    <tr>
                      <td>P5 <%= @culture.plate.try(:p5) %></td>
                      <td>P6 <%= @culture.plate.try(:p6) %></td>
                      <td>P7 <%= @culture.plate.try(:p7) %></td>
                      <td>P8 <%= @culture.plate.try(:p8) %></td>
                    <tr>
                  </tbody>
                </table>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<%= link_to 'Edytuj', edit_culture_path(@culture), class: "btn btn-warning btn-sm" %>
<%= link_to 'Usuń', @culture, method: :delete, data: { confirm: 'Czy na pewno?' }, class: "btn btn-danger btn-sm" %>
<%= link_to 'Powrót', cultures_path, class: "btn btn-info btn-sm" %>
