<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <table class="table table-striped table-bordered">
        <tbody>
          <tr>
            <td><strong>Numer myszy:</strong></td>
            <td>
              <% @culture.mice.each do |m| %>
                <%= link_to m.number, mouse_path(m) %>&nbsp;&nbsp;&nbsp;
              <% end %>
            </td>
          </tr>
          <tr>
            <td><strong>Data rozpoczęcia:</strong></td>
            <td><%= @culture.starting_date %></td>
          </tr>
          <tr>
            <td><strong>Data zakończenia:</strong></td>
            <td><%= @culture.termination_date %></td>
          </tr>
          <tr>
            <td><strong>Warunki hodowli:</strong></td>
            <td><%= @culture.culture_details %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<%= link_to 'Edytuj', edit_culture_path(@culture), class: "btn btn-warning btn-sm" %>
<%= link_to 'Powrót', cultures_path, class: "btn btn-info btn-sm" %>
