<p id="notice"><%= notice %></p>

<p>
  <strong>Starting date:</strong>
  <%= @culture.starting_date %>
</p>

<p>
  <strong>Termination date:</strong>
  <%= @culture.termination_date %>
</p>

<p>
  <strong>Culture details:</strong>
  <%= @culture.culture_details %>
</p>

<p>
  <strong>Schema 1:</strong>
  <%= @culture.schema_1 %>
</p>

<p>
  <strong>Schema 2:</strong>
  <%= @culture.schema_2 %>
</p>

<p>
  <strong>Schema 3:</strong>
  <%= @culture.schema_3 %>
</p>

<p>
  <strong>Schema 4:</strong>
  <%= @culture.schema_4 %>
</p>

<p>
  <strong>Schema 5:</strong>
  <%= @culture.schema_5 %>
</p>

<p>
  <strong>Schema 6:</strong>
  <%= @culture.schema_6 %>
</p>

<p>
  <strong>Schema 7:</strong>
  <%= @culture.schema_7 %>
</p>

<p>
  <strong>Schema 8:</strong>
  <%= @culture.schema_8 %>
</p>

<%= link_to 'Edit', edit_culture_path(@culture) %> |
<%= link_to 'Back', cultures_path %>
