<p id="notice"><%= notice %></p>

<p>
  <strong>Foetus:</strong>
  <%= @staining.foetus %>
</p>

<p>
  <strong>Staining date:</strong>
  <%= @staining.staining_date %>
</p>

<p>
  <strong>Schema 1:</strong>
  <%= @staining.schema_1 %>
</p>

<p>
  <strong>Schema 2:</strong>
  <%= @staining.schema_2 %>
</p>

<p>
  <strong>Schema 3:</strong>
  <%= @staining.schema_3 %>
</p>

<p>
  <strong>Schema 4:</strong>
  <%= @staining.schema_4 %>
</p>

<p>
  <strong>Schema 5:</strong>
  <%= @staining.schema_5 %>
</p>

<p>
  <strong>Schema 6:</strong>
  <%= @staining.schema_6 %>
</p>

<p>
  <strong>Schema 7:</strong>
  <%= @staining.schema_7 %>
</p>

<p>
  <strong>Schema 8:</strong>
  <%= @staining.schema_8 %>
</p>

<p>
  <strong>Antibodies:</strong>
  <%= @staining.antibodies %>
</p>

<p>
  <strong>Staining protocol:</strong>
  <%= @staining.staining_protocol %>
</p>

<p>
  <strong>Results:</strong>
  <%= @staining.results %>
</p>

<p>
  <strong>Results file:</strong>
  <%= @staining.results_file %>
</p>

<%= link_to 'Edit', edit_staining_path(@staining) %> |
<%= link_to 'Back', stainings_path %>
