<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <table class="table table-striped table-bordered">
        <tbody>
          <tr>
            <td><strong>Mysz:</strong></td>
            <td>
              <% @staining.mice.each do |m| %>
                <%= link_to m.number, mouse_path(m) %>&nbsp;&nbsp;&nbsp;
              <% end %>
            </td>
          </tr>
          <tr>
            <td><strong>Zarodek:</strong></td>
            <td><%= @staining.foetus %></td>
          </tr>
          <tr>
            <td><strong>Data barwienia:</strong></td>
            <td><%= @staining.staining_date %></td>
          </tr>
          <tr>
            <td><strong>Przygotowanie materiału:</strong></td>
            <td><%= @staining.material_preparation %></td>
          </tr>
          <tr>
            <td><strong>Płytka</strong></td>
              <td>
                <table class="table table-striped table-bordered">
                  <tbody>
                    <tr>
                      <td rowspan="2">NUMER
                        <<%#= @staining.cultures.find(params[:id]).plate.try(:plate_number) %></td>
                      <td>P1 <%= @staining.plate.try(:p1) %></td>
                      <td>P2 <%= @staining.plate.try(:p2) %></td>
                      <td>P3 <%= @staining.plate.try(:p3) %></td>
                      <td>P4 <%= @staining.plate.try(:p4) %></td>
                    </tr>
                    <tr>
                      <td>P5 <%= @staining.plate.try(:p5) %></td>
                      <td>P6 <%= @staining.plate.try(:p6) %></td>
                      <td>P7 <%= @staining.plate.try(:p7) %></td>
                      <td>P8 <%= @staining.plate.try(:p8) %></td>
                    <tr>
                  </tbody>
                </table>
              </td>
          </tr>
          <tr>
            <td><strong>Przeciwciała:</strong></td>
            <td><%= @staining.protocol.try(:title) %></td>
          </tr>
          <tr>
            <td><strong>Protokół:</strong></td>
            <td><%= simple_format(@staining.protocol_text) %></td>
          </tr>
          <tr>
            <td><strong>Wyniki:</strong></td>
            <td><%= @staining.results %></td>
          </tr>
          <tr>
            <td><strong>Plik z wynikami:</strong></td>
            <td><%= @staining.results_file %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<%= link_to 'Edytuj', edit_staining_path(@staining), class: "btn btn-warning btn-sm"  %>
<%= link_to 'Usuń', @staining, method: :delete, data: { confirm: 'Czy na pewno?' }, class: "btn btn-danger btn-sm" %>
<%= link_to 'Powrót', stainings_path, class: "btn btn-info btn-sm" %>
<%= link_to 'Zapisz do PDF', download_staining_path(@staining), class: "btn btn-default btn-sm" %>
