<!DOCTYPE html>
<html>
<head>
  <title>Lab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
   <div class="page-header">
    <h1>Przednasierdzia<small> dziennik doświadczeń</small></h1>
  </div>
  <header>
    <%= render 'layouts/navigation'%>
  </header>
  <main>
    <%= yield %>
  </main>
</div>
</body>
</html>
